* {
  box-sizing: border-box;
  color: #3b3c36;
  font-family:Arial,Helvetica,sans-serif;
}

body {
	line-height :1.4;
}

body,h1,p,h2,h3 {
	margin:0px;
    padding:0px;
}

body,h1, p {
  font-size: 1rem;
}

#wrapper {
    width: 100%;
    background-color: #fff;
    height: auto !important;
    min-height: 100%;
}


/* Container for flexboxes */
.sectionDiv, .headerDiv, .headerDiv1  {
  width: 100%;
  min-width: 1210px;
  float:left;
}

.headerDiv, .headerDiv1  {
  height:auto;
}

.headerDiv1, .profileSection {
  background-color: #333;
}

.headerDiv1 .center {
	width:85%;
	margin:0 auto;
}

.topnav {
  overflow: hidden;
  text-transform: uppercase;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #04aa6d;
  color: white;
}

.dropdown-content a:hover {
  background-color:#9ac791
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* navigation bar */

.profile {
	width: 85%;
	margin: 0 auto;
}

.alignCenter {
	width: 1210px;
	margin: 0 auto;
}


/* Add Animation */
.dropdown {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.responsiveimg {
  max-width: 100%;
  height: auto;
}

.responsiveimg1 {
  width: 380px;
  height:280px;
  max-width:100%;
}

.profileSection {
  background-repeat:no-repeat;
  background-size:cover;
  margin-top: 6rem;
  display: -webkit-flex;
  display: flex;
  width:100%;
}

.profile .lt {
	width:60%;
	float:left;
	}
	
.profile .lt p	{
	font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
	font-size: 1rem;
	color: #f2f2f2 !important;
	line-height: 1.5em;
	text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
	margin-top:20px;
}
	
.profile .rt {
	width:38%;
	float:left;
}

.white {
	color:#fff;
}

.white1 {
  color: #f2f2f2;
}
	
.brown {
	color:#c1413d;
}

.darkGrey{
	color: #4e4e4e;
}
	
.lightBlue {
	color:#005868;
}

.semiBold {
	font-weight:600;
}
	
h1{
	font-size:5.2rem;
	margin-bottom:.8rem;
	padding-top:120px;
	font-weight:normal;
}

h2 {
	text-transform: uppercase;
	font-size: 5rem;
	color: #f2f2f2 !important;
	text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
	margin-top:100px;
}

h3 {
	font-weight: 700;
	font-size: 2em;
}

h4 {
	font-weight: 700;
	font-size: 2em;
}

.font20 {
	font-size:1.2rem;
}

.font14 {
	font-size:1rem;
}

.mrRt45 {
	margin-right:45px;
}

.mrTp25 {
	margin-top:25px;
}

.mrTp15 {
	margin-top:15px;
}

.mrTp10 {
	margin-top:10px;
}

.mrLt15 {
	margin-left:15px;
}

.lineHeight {
  line-height: 1.6;
}

.pd3{
	padding:1% 3%;
}

.bold {
	font-weight:bold;
	}

.border1Px{
	border:1px solid #3b3c36;
}

.bgColorSageGreen {
	background-color:#04aa6d;
}

.center {
	text-align:center;
}

.left {
	text-align:left;
}

.horizantalAlign {
	margin:0 auto;
}

.descriptionTxt {
	line-height:1.5;
}
	
.pointer {
	cursor:pointer;
	}
	
a {
	text-decoration:none;
	color:##3b3c36;
  }
  
a:hover {
	color:#666;
 }

 a.underline {
	 text-decoration :underline;
 }

/* The Modal Window */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  top: 20%; /* Location of the box */
  left: 10%;
  width: 80%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-image: url("./images/blue-background-grainy-texture.png");*/
  background-color: #04aa6d;
  z-index: 1;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: left;
  color: #f2f2f2;
  padding: 10px 0;
}

.modal ul li {
	color:#f2f2f2;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f2f2f2;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create three equal columns that sits next to each other */
.flexColumn {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.flexColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.marginDiv {
  margin: 1% 2% 2% 0%;
}

.flex-width {
	width:48%;
}

.flexColumn .height {
    min-height: 10%;
	margin-bottom:35px;
}

.flexColumn .height1 {
    min-height: 21rem;
	margin-right:10px;
	margin-bottom:35px;
}

.flexColumn .height .slideUp {
	-moz-animation: slideUp 1s ease-out;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
	opacity:1;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(10%);
		-webkit-transform: translateY(10%);
		-moz-transform: translateY(10%);
}
  100% {
		opacity: 1;
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
	}
}

.flexColumn .height .photo {
	border: #d4d3d3 solid 1px;
    padding: 15% 0% 0% 0%;
	height:200px;
	width:100%;
}

.flexColumn .height1 .photo {
	border: #d4d3d3 solid 1px;
    padding: 15% 0%;
}


.photoInside {
    line-height: 0;
    position: relative;
}

.photoContent, .photoContent1 {
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.photoContent img {
    display: inline;
    height: 250px !important;
    max-width: 100%;
    width: auto !important;
}

.photoContent1 img {
    display: inline;
    height: 125px !important;
    max-width: 95%;
    width: auto !important;
}


.photoContent img:hover, .photoContent1 img:hover {
    opacity:.9;
}

.highlightTitle {
    padding: 8px 0;
    background: #252729;
    font-size: 14px;
    font-weight: normal;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    position: relative;
    top: -19px;
}

.highlightTitle span {
    color: #fff !important;
}

.courseDescription {
	line-height: 1.4;
	text-rendering: optimizeLegibility;
	}

.courseDescription h5 {
	margin:5px 0px 5px 0px;
	}

/* 100% Image Width on Smaller Screens */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .flexColumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  
  .sectionDiv, .headerDiv, .headerDiv1, .headerDiv1 .center{
	max-width:100%;
	min-width: 100%;
	}

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .navbar, .profile {
	width: 100%;
	padding-left:10px;
   }
   
   .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
	
	ul#nav li {
	  padding-right:10px;
	}

	ul#nav li a{
	  font-size:12px;
	}
	
	h2 {
		font-size: 3rem;
		margin-top:50px;
	}
	
  .alignCenter {
	width:100%;
	}
	
  .flex-width {
	width:100%;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 440px) {
	
	h2 {
		font-size: 2rem;
	}

	.courseDescription h5 {
	 font-size:.8rem;
	}
	
	h3{
		font-size:1.5rem;
	}
	
	p, .font14, .font20 {
		font-size:.75rem;
	}
}

		